body{
    background-size: 100% 100%;
    height: 100vh;
    background-color: #A9927D;
}

.container{
    background-color: #FFF;
    max-width: 1440px;
    min-width: 500px;
    width: 100%;
    margin: auto;
    padding: 0 !important;
}

.row{
    margin: 0 !important;
    padding: 0 !important;
}

.col-12{
    margin: 0 !important;
    padding: 0 !important;
}


/* Navbar basic settings */

#navbar-container{
    height: 60px;
    position: sticky;
    max-width: 1440px;
    top: 0;
    margin: 0 auto -105px;
    z-index: 1;
    overflow: auto;
}

.navbar-container a{
    border: 2px solid #F2F4F3;
    color: #F2F4F3;
    text-decoration: none;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 3px;
    padding: 5px 15px;
}

.navbar-top, .navbar-bottom{
    background-color: rgba(10, 9, 8, 0.75);
    height: 60px;
    margin: 0;
    padding: 0;
}

#collapsible-div{
    width: 238px;
    height: 220px;
    float: right;
    display: none;
    margin: 0;
    padding: 0;
}

#hidden-link{
    display: none;
}


/* Hamburger icon and hamburger link settings */

#hamburger-icon{
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 0;
    filter: invert(94%) sepia(6%) saturate(209%) hue-rotate(76deg) brightness(108%) contrast(91%);
}

#hamburger-button{
    border: none;
    width: 28px;
    padding: 0;  
}

/* Navbar link settings */

.navbar-link{
    display: block;
    width: 150px;   
}

.navbar-link:hover{
    color: #0A0908;
    background-color: #F2F4F3;
}

.navbar-container ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}

.navbar-top li{
    float: right;
    margin: 15px 25px 0 0;
}

.navbar-bottom li{
    margin: 10px 10px 0 10px;
}


/* Banner and logo */

.banner{
    position: relative;
    display: block;
}

.header-image{
    max-width: 1440px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    margin: 45px auto;
    padding: 0 !important;
}

#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    max-width: 300px;
}


/* Content */

main{
    max-width: 1000px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 60px;
    padding: 0 !important;
}

h1, h2{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    color: #0A0908;    
    display: inline-block;
    padding-bottom: 15px;
    position: relative;
}

h1::after, h2::after{
    content: "";
    display: block;
    position: absolute;
    width: 215px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid #49111C;
}

.ingressi{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 60px;
    padding: 0 25px !important;
}

p, article .table{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    color: #0A0908;
}


/* Content button */

.content-button{
    border: 2px solid #49111C;
    color: #49111C;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 3px;
    padding: 7px 15px;
}

.content-button:hover{
    border: 2px solid  #49111C;
    background-color: #49111C;
    color: #F2F4F3;
}


/* Grid hax: basically to delete Bootstrap auto margins and paddings */

.col-md-12{
    margin: 0 !important;
    padding: 0 !important;
}

.col-md-6{
    max-width: 500px !important;
    padding: 0 !important;
}


/* Main content settings for the middle grid */

.img-fluid {
    width: 100%;
    height: 100%;
    padding: 0 !important;
}

article, aside{
    width: 500px;
    height: 500px;
    padding: 0 !important;
}

article{
    background-color: #F2F4F3;
}

article h2{
    color:#49111C;
}

article h2::after{
    left: 0;
    transform: translateX(0%);
}

.article-right{
    text-align: right;
}

article .article-right h2::after{
    right: 0;
    left: auto;
    transform: translateX(0%);
}

.textbox{
    margin: 10%;
}

.table {
    padding: 0px;
    max-width: 400px;
    display: flex;
    flex-flow: row wrap;
}

.fix{
    text-align: left;
}

.table-cell-dish {
    flex: 0 70%;
}

.table-cell-price {
    text-align: right;
    flex: 0 30%;
}

.colspan-2 {
    font-style: italic;
    font-size: 14px;
    padding: 0 0 15px 10px;
    flex: 0 100%;
}


/* Yhteydenotto */

.reservation-form{
    width: 100%;
    height: 40px;
    border: 1px solid;
    border-top: none;
    padding-left: 8px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 200%;
    color:#0A0908;
}

.reservation-form::placeholder{
    color:#0A0908;
}

.reservation-form.top-part{
    border-top: 1px solid;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.reservation-form.bottom-part{
    border-bottom-left-radius: 4px; 
    border-bottom-right-radius: 4px; 
    margin-bottom: 20px;
}

.reservation-form.group{
    padding-left: 4px;
}

.feedback-form{
    width: 100%;
    border: 1px solid;
    margin-bottom: 4px;
    height: 40px;
}

.feedback-form.top-part{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 0px;
}

.feedback-form.bottom-part{
    border-bottom-left-radius: 4px; 
    border-bottom-right-radius: 4px;
    border-top: none;
    margin-bottom: 8px;
}

#comments{
    height: 120px;
    max-height: 200px;
    min-height: 40px;
    border-radius: 4px;
}

.feedback-form::placeholder{
    text-align: right;
    padding-right: 8px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 200%;
    color:#0A0908;
}

#email-logo{
    width: 35px; 
    filter: invert(6%) sepia(28%) saturate(7500%) hue-rotate(340deg) brightness(91%) contrast(91%);
    margin-right: 5px;
}


/* Footer */

footer{
    background-color: #49111C;
    color: #F2F4F3;
    width: 100%;
    min-height: 275px;
    margin: 0 !important;
}

footer h3{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 15px;
    position: relative;
}

footer h3::after{
    content: "";
    display: block;
    position: absolute;
    width: 215px;
    left: 0;
    border-bottom: 1px solid #F2F4F3;
    padding-top: 5px;
}

footer p, footer address, footer table{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #F2F4F3;
}

.footer-margins{
    max-width: 1000px;
    margin: auto;
    padding: 60px 0 0 0;
}

footer .col-md-4, footer .col-4{
    min-width: 215px;
}

.contact-info{
    text-align: left;
    padding: 0 !important;
}

.opening-hours{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}

.opening-hours h3::after{
    left: 50%;
    transform: translateX(-50%);
}

#opening-hours-table{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.some{
    text-align: right;
    padding: 0 !important;
}

.some h3::after{
    right: 0;
    left: auto;
}

.some-icon{
    width: 36px;
    height: auto;
    margin: 0 0 0 10px;
    filter: invert(94%) sepia(6%) saturate(209%) hue-rotate(76deg) brightness(108%) contrast(91%);
}


/* Media */

/*for footer margins*/
@media only screen and (max-width: 1100px){
    #logo{
        content: url(images/tekstilogo.svg);
    }

    .footer-margins{
        width: 90%;
    }
}

@media only screen and (max-width: 1000px){
    .container{
        min-width: 500px;
    }
    
    main{
        width: 500px;
        margin: auto;
    }

    .ingressi{
        padding: 0 5% !important;
    }

    .col-md-6{
        width: 100%;
    }
    
    .article-right{
        text-align: left;
    }

    article .article-right h2::after{
        left: 0;
    }

    footer h3::after{
        width: 145px;
    }

    .footer-margins{
        width: 500px;
        margin: auto;
        margin-top: 60px;
    }

    footer .col-4{
        max-width: 215px;
    }

    .contact-info{
        margin-left: 30px;
    }

    .opening-hours{
        margin-right: 30px;
        text-align: right;
    }

    #opening-hours-table{
        text-align: left;
        margin-left: auto;
        margin-right: 0;
    }

    .opening-hours h3::after{
        width: 145px;
        left: -50%;
        transform: translateX(-2%);
    }
    
    .some{
        text-align: center;
        margin: 25px auto;
    }
    
    .some h3::after{
        width: 145px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .some-icon{
        margin: 0 5px;
    }

    .feedback-form{
        text-align: left;
        padding: 8px;
    }
    .feedback-form::placeholder{
        text-align: left;
    }

    /*Navbar responsiveness*/

    .navbar-top{
        background-color: rgba(10, 9, 8, 0);
    }

    #collapsible-div{
        width: 170px;
        margin-top: -14px;
        margin-right: 8px;
    }

    .navbar-top li{
        margin: 8px 8px 0 0;
    }

    #reservation{
        display: none;
    }

    #hamburger-icon{
        width: 30px;
        height: 30px;
        padding: 0;
        margin: 0;
        filter: invert(94%) sepia(6%) saturate(209%) hue-rotate(76deg) brightness(108%) contrast(91%);
    }
    
    #hamburger-button{
        background-color: rgba(10, 9, 8, 0.75);
        width: 30px;
        height: 30px;
        padding: 8px 3px 11px 3px;
        margin: 0;
    }

}

@media only screen and (max-width: 550px){
    .footer-margins{
        width: 500px;
    }

}

@media only screen and (max-width: 500px){
    .container{
        width: 100% !important;
        min-width: 0 !important;
    }

    main, .col-md-12, .col-md-6{
        width: 100% !important;
    }
    
    article, aside{
        width: 100% !important;
        height: auto;
    }

    .footer-margins{
        width: 100% !important;
        margin-top: 0px;
    }

    .footer-margins{
        padding: 40px 0 0 0;
    }

    footer .col-md-4, footer .col-4{
        min-width: 100%;
        max-width: 100%;
        width: 100%;
    }
     
    .contact-info{
        text-align: center;
        margin: auto;
    }

    .contact-info h3::after{
        width: 145px;
        left: 50%;
        transform: translateX(-50%);
    }

    .opening-hours{
        text-align: center;
        margin: 15px auto 0px;
    }

    #opening-hours-table{
        text-align: left;
        margin: auto;
    }
    
    .opening-hours h3::after{
        width: 145px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .some h3::after{
        width: 145px;
        left: 50%;
        transform: translateX(-50%);
    }

}